<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="container">
	<mat-form-field class="field">
		<mat-label for="name">Nome</mat-label>
		<input matInput id="name" formControlName="name" type="text" />
		<div
			*ngIf="
				registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)
			"
		>
			<mat-error *ngIf="registerForm.get('name')?.hasError('required')">O Nome é obrigatório.</mat-error>
			<mat-error *ngIf="registerForm.get('name')?.hasError('containsNumber')"
				>O Nome não pode conter números.</mat-error
			>
		</div>
	</mat-form-field>

	<mat-form-field class="field">
		<mat-label for="email">Email</mat-label>
		<input matInput id="email" formControlName="email" type="email" />
		<div
			*ngIf="
				registerForm.get('email')?.invalid &&
				(registerForm.get('email')?.dirty || registerForm.get('email')?.touched)
			"
		>
			<mat-error *ngIf="registerForm.get('email')?.hasError('required')">O Email é obrigatório.</mat-error>
			<mat-error *ngIf="registerForm.get('email')?.hasError('email')">Email Inválido.</mat-error>
		</div>
	</mat-form-field>

	<mat-form-field class="field">
		<mat-label for="password">Senha</mat-label>
		<input matInput id="password" formControlName="password" type="password" />
		<div
			*ngIf="
				registerForm.get('password')?.invalid &&
				(registerForm.get('password')?.dirty || registerForm.get('password')?.touched)
			"
		>
			<mat-error *ngIf="registerForm.get('password')?.hasError('required')"> A Senha é obrigatória. </mat-error>
			<mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
				A Senha deve ter pelo menos 6 caracteres.
			</mat-error>
		</div>
	</mat-form-field>

	<mat-form-field class="field">
		<mat-label for="profile">Perfil</mat-label>
		<mat-select id="profile" formControlName="profile">
			<mat-option value="admin">Admin</mat-option>
			<mat-option value="comum">Comum</mat-option>
		</mat-select>
		<div
			*ngIf="
				registerForm.get('profile')?.invalid &&
				(registerForm.get('profile')?.dirty || registerForm.get('profile')?.touched)
			"
		>
			<mat-error *ngIf="registerForm.get('profile')?.hasError('required')">O Perfil é obrigatório.</mat-error>
		</div>
	</mat-form-field>
	<button mat-raised-button type="submit" [disabled]="registerForm.invalid">Cadastrar</button>
</form>
