<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 12/05/2024 </mat-panel-title>
        <!--<mat-panel-description> This is a summary of the content </mat-panel-description>-->
      </mat-expansion-panel-header>
      <app-appointments-table/>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> 12/05/2024 </mat-panel-title>
          <!--<mat-panel-description> This is a summary of the content </mat-panel-description>-->
        </mat-expansion-panel-header>
        <app-appointments-table/>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> 12/05/2024 </mat-panel-title>
          <!--<mat-panel-description> This is a summary of the content </mat-panel-description>-->
        </mat-expansion-panel-header>
        <app-appointments-table/>
      </mat-expansion-panel>
  </mat-accordion>
  