<table mat-table [dataSource]="appointments" class="mat-elevation-z8">
	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef>Data</th>
		<td mat-cell *matCellDef="let element">
			{{ element.date | date : "dd/MM/yyyy" }}
		</td>
	</ng-container>

	<ng-container matColumnDef="time">
		<th mat-header-cell *matHeaderCellDef>Horário</th>
		<td mat-cell *matCellDef="let element">{{ element.time }}</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>Nome do Paciente</th>
		<td mat-cell *matCellDef="let element">{{ element.patientName }}</td>
	</ng-container>

	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef>Status</th>
		<td mat-cell *matCellDef="let element">
			<div class="status-container">
				<app-appointment-status-selector
					[appointmentStatus]="element.status"
					[appointmentId]="element.id"
					[creatorId]="element.userId"
				></app-appointment-status-selector>
				<app-delete-appointment-button
					[id]="element.id"
					[creatorId]="element.userId"
					class="delete-button"
				></app-delete-appointment-button>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
